body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#infoDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#infoDisplay div{
  width : 50%;
}